{
  "env": {
    "browser": true
  },

  "extends": "airbnb",

  "rules": {
    "quote-props":    0,
    "global-require": 0,

    "no-unused-vars":    0,
    "no-nested-ternary": 0,
    "react/sort-comp":   0,

    "semi":                   [2, "never"],
    "react/prefer-es6-class": [2, "never"],

    "react/forbid-prop-types":           0,
    "react/jsx-boolean-value":           0,
    "react/no-render-return-value":      0,
    "import/extensions":                 0,
    "import/no-unresolved":              0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export":      0,


    "key-spacing": [2, {
      "align": "value"
    }],

    "no-multi-spaces": [2, {
      "exceptions": {
        "ImportDeclaration":    true,
        "VariableDeclarator":   true,
        "AssignmentExpression": true
      }
    }]
  }
}
